.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  background: url('../../../images/add-btn.svg') no-repeat center;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px;
  }
}