.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto auto;
  align-items: baseline;
  gap: 16px 18px;
  grid-template-areas:
    "name edit"
    "job job";
}