.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  max-width: 294px;
  /* grid-template-columns: 1fr 24px;
  grid-template-rows: auto auto;
  align-items: baseline;
  gap: 16px 18px;
  grid-template-areas:
    "name edit"
    "job job"; */
}

@media (min-width: 320px) and (max-width: 1279px) {
  .profile__info {
    align-items: center;
    gap: 7px;
  }
}